@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Task";
}

@model AllTasks


<h1>@ViewBag.Title</h1>

<form method="post">
    <input type="hidden" id="taskId" name="taskId" value="@Model.TaskId"/>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" value="@Model.Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId">
            @foreach (var category in ViewBag.Categories)
            {
                <option asp-for="CategoryId" value="@category.CategoryId">@category.CategoryName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="DueDate"></label>
        <input asp-for="DueDate" class="form-control" value="@Model.DueDate"/>
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quadrant"></label>
        <input asp-for="Quadrant" class="form-control" value="@Model.Quadrant"/>
        <span asp-validation-for="Quadrant" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Completed">Completed:</label>
        @if (Model.Completed == true)
        {
            <input type="radio" id="completedYes" name="Completed" value="true" asp-for="Completed" checked="checked"/>
            <label for="completedYes">Yes</label>
            <input type="radio" id="completedNo" name="Completed" value="false" asp-for="Completed"/>
            <label for="completedNo">No</label>
        }
        else
        {
            <input type="radio" id="completedYes" name="Completed" value="true" asp-for="Completed"/>
            <label for="completedYes">Yes</label>
            <input type="radio" id="completedNo" name="Completed" value="false" asp-for="Completed"checked="checked"/>
            <label for="completedNo">No</label>
        }
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>